<td>
  <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book), method: :delete do %>
      💙
      <%= book.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), method: :post do %>
      🧡

      <%= book.favorites.count %>
    <% end %>
  <% end %>
</td>
<td>コメント数：<%= @book.book_comments.count %></td>